*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    color:#111;
    font-family:Consolas, monospace;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#device{
    width:980px;
    height:560px;

    background:#2b2b2b;

    border-radius:28px;

    padding:20px;

    box-shadow:
    0 0 40px rgba(0,0,0,.7);
}

#statusBar{

    height:40px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    color:white;

    font-size:18px;
}

#screen{

    margin-top:10px;

    height:430px;

    background:#b8d79d;

    border:6px solid #222;

    border-radius:10px;

    display:flex;

    overflow:hidden;
}

#left{

    width:55%;

    padding:25px;
}

#right{

    width:45%;

    border-left:2px solid #6f8e5b;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;
}

h1{

    margin-bottom:25px;

    font-size:38px;
}

#menu{

    list-style:none;
}

#menu li{

    padding:8px 12px;

    margin-bottom:6px;

    transition:.15s;
}

.selected{

    background:#222;

    color:#b8d79d;
}

#potato{

    width:180px;

    image-rendering:pixelated;
}

#terminal{

    margin-top:25px;

    width:85%;

    border-top:2px solid #6f8e5b;

    padding-top:15px;

    text-align:center;

    font-size:18px;
}

footer{

    color:white;

    text-align:center;

    margin-top:15px;

    font-size:18px;
}
