html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
    background:#b8d79d;
}

#device{
    width:100vw;
    height:100vh;

    background:#b8d79d;

    border-radius:0;

    box-shadow:none;

    padding:18px;
}

#statusBar{

    height:55px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    font-size:24px;
    font-weight:bold;
}

#screen{

    margin-top:8px;

    width:100%;

    height:calc(100vh - 120px);

    display:flex;

    border-top:4px solid #6f8e5b;

    border-bottom:4px solid #6f8e5b;
}

#left{

    width:58%;

    padding:35px;
}

#right{

    width:40%;

    border-left:2px solid #6f8e5b;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;
}

h1{
    font-size:46px;

    margin-bottom:25px;

    font-size:38px;
}

#menu{

    list-style:none;
}

#menu li{ 
    padding:10px 14px;

    font-size:28px;

    margin:8px 0;
}

.selected{

    background:#222;

    color:#b8d79d;
}

#potato{

    width:260px;

    image-rendering:pixelated;
}

#terminal{

    margin-top:25px;

    width:85%;

    border-top:2px solid #6f8e5b;

    padding-top:15px;

    text-align:center;

    font-size:18px;
}

footer{

    color:white;

    text-align:center;

    margin-top:15px;

    font-size:18px;
}
